/* Local styling - not intended for publication */
article {
  margin: auto;
  width: 66%;
  margin-top: 30px;
}

/* Text Styling */
.h1-blog {
  font-size: 32px;
  padding-top: 24px;
}
.h2-blog {
  font-size: 24px !important;
  font-weight: 900 !important;
  padding-top: 10px !important;
  margin-top: 30px !important;
}
.h3-blog {
  font-size: 20px !important;
  font-weight: bold !important;
  margin-top: 20px !important;
}

/* Basic Styling */
blockquote {
  background-color: #f0f8ff;
  border-left: 5px solid rgb(44, 133, 220);
  padding: 10px 20px;
  margin: 20px 0;
  font-style: italic;
  color: #333;
  border-radius: 5px;
}

ul {
  margin-bottom: 20px;
}

ol {
  margin-bottom: 10px;
}

li {
  margin: 5px;
}

.cfo-tip {
  color: rgb(17, 127, 220);
  font-weight: bold;
}

.img {
  text-align: center;
}

.latex {
  font-size: 0.85em;
  overflow:auto; 
  max-width: 100%;
}

/* Plot Styling */
.plot-caption{
  margin: 0 auto;
  width: 66%;
  font-size: small;
}
.plot {
  margin-bottom: 10px;
  overflow-x: auto;
  width: 100%;

}
.plotly-fig {
  min-width: 800px;
}

/* Tab Styling */
.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab-link {
  background-color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  color: rgb(44, 133, 220);
}

.tab-link:hover {
  background-color: #ddd;
}

.tab-link.active {
  background-color: #ccc;
  font-weight: bold;
}

.tab-content {
  display: block;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #f9f9f9;
  overflow-x: auto;
}

/* Tooltip Styling */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: blue;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* Table */
table {
  border: 2px solid #000028;
}
/* Add a right border to the index column */
td:first-child,
th:first-child {
  border-right: 2px solid #000028;
}

caption {
  caption-side: top;
  padding: 10px;
  font-weight: bold;
}

.table-wrapper {
  width: 90%;
  margin: 10px auto;
}
td {
  text-align: center;
}
thead {
  border: 2px solid;
}

tfoot {
  border: 2px solid;
}

tfoot td {
  font-weight: bolder;
}

/* Full width on mobile */
@media (max-width: 768px) {
  article {
    width: 90%
  }
  
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper > div {
    width: 100%;
  }
  .table-container {
    width: 100%;
    text-align: center;
    table-layout: fixed;
  }
  thead {
    font-size: 10px;
    word-wrap: break-word;
    width: 100%; 
  }
  td {
    font-size: 10px;
    word-wrap: break-word;
    width: 100%;
  }
}

/* Under review */
.author-section {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.author-photo {
  flex: 0 0 140px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-photo img {
  width: 140px;
  height: 220px;
  object-fit: cover;
  border-radius: 50% / 30%;
  border: 2px solid #ddd;
}

.author-info {
  flex: 1;
}

.author-info h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #333;
}

.author-info p {
  margin: 0;
  font-size: 1em;
  color: #666;
  line-height: 1.6;
}